@model Blog.Models.LoginUser
@{
    ViewData["Title"] = "Log in";
}

<h1>Log in</h1>

<form asp-action="Login" method="post" style="padding: 30px; border-radius:40px; box-shadow: 11px 9px 36px 2px rgba(0,0,0,0.69);">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
</form>

<div>
	<a asp-controller="Articles" asp-action="SignUp" class="btn btn-link">Don't have an account? Sign Up</a>
</div>