@model Blog.Models.User
@{
    ViewData["Title"] = "Sign Up";
}

<h1>Welcome !!!</h1>


<a asp-controller="Articles" asp-action="Login" class="btn btn-primary">Log in</a>
<a asp-controller="Articles" asp-action="SignUp" class="btn btn-secondary">Sign Up</a>
