@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Create Article";
}

<div class="text-center" style="border:solid; border-radius:50px; background-color:#000000">
    <h1 style="color:#e7e9ea">User profile: </h1>
    <div style="color:#e7e9ea">@Model.UserName</div>
    <div style="color:#e7e9ea">@Model.Email</div>
</div>

<form asp-area="Article" asp-action="Logout" method="post" id="logoutForm">
    <button type="submit" class="nav-link btn btn-link">Logout</button>
</form>
