@model Blog.Models.User
@{
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up</h1>

<form asp-action="SignUp" method="post" style="padding: 30px; border-radius:40px; box-shadow: 11px 9px 36px 2px rgba(0,0,0,0.69);">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom:20px;">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    </div>
</form>

<div>
	<a asp-controller="Articles" asp-action="Login" class="btn btn-link">Already have an account? Log in</a>
</div>

