html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.list-group-item {
    background-color: #000000;
}

.list-group-item:hover {
    background-color: #080808;
    filter: brightness(1.5);
    cursor: pointer;
    /*    transform: scale(1.02);
    transition: all 0.2s ease-in-out;*/
}

.post-container:hover {
    background-color: #252525;
}

.nav-button:hover {
    background-color: #79c4ab;
    cursor: pointer;
}



.pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* o el color de tu tema */
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}